[submodule "dependencies/zlib"]
	path = dependencies/zlib
	url = https://github.com/cloudflare/zlib
[submodule "dependencies/mathfu"]
	path = dependencies/mathfu
	url = https://github.com/google/mathfu
[submodule "dependencies/Vulkan-Headers"]
	path = dependencies/Vulkan-Headers
	url = https://github.com/KhronosGroup/Vulkan-Headers
[submodule "dependencies/glfw"]
	path = dependencies/glfw
	url = https://github.com/glfw/glfw
[submodule "dependencies/libpng"]
	path = dependencies/libpng
	url = https://github.com/glennrp/libpng
[submodule "dependencies/plog"]
	path = dependencies/plog
	url = https://github.com/SergiusTheBest/plog
